@font-face{font-family:'black';src:url('black.otf');}
@font-face{font-family:'book';src:url('book.otf');}
@font-face{font-family:'light';src:url('light.otf');}
@font-face{font-family:'medium';src:url('medium.otf');}